<div class="container" style="width: 100%; height: 100%; padding-top: 4%">
  <div
    style="
      width: 50%;
      height: 6%;
      margin-left: 25%;
      display: flex;
      padding: 0 3%;
      margin-bottom: 1%;
      justify-content: space-between;
      align-items: center;
    "
  >
    <button
      nz-button
      nzType="primary"
      (click)="fakeAdd()"
      style="
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
        height: 100%;
      "
    >
      <i nz-icon nzType="copy"></i>新增项(Mock)
    </button>

    <button
      nz-button
      nzType="primary"
      (click)="realAdd()"
      style="
        display: inline-block;
        border-radius: 5px;
        font-size: 16px;
        height: 100%;
      "
    >
      <i nz-icon nzType="plus"></i>新增项(Real)
    </button>
  </div>

  <div
    *ngFor="let todo of todos; index as i"
    style="
      width: 50%;
      height: 9%;
      border: 2px solid steelblue;
      border-radius: 5px;
      margin-left: 25%;
      margin-bottom: 1%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      line-height: 36px;
    "
  >
    <span
      style="
        width: 10%;
        display: inline-block;
        text-align: center;
        margin-left: 6px;
        border-right: 1px solid steelblue;
      "
    >
      <nz-tag [nzColor]="todo.tag" style="width: 50px">
        {{ todo.tagText | capitalize }}</nz-tag
      >
    </span>
    <span
      nz-typography
      style="
        font-size: 24px;
        width: 30%;
        display: inline-block;
        text-align: center;
        border-right: 1px solid steelblue;
      "
      ><strong> {{ todo.title | nzEllipsis: 8:'...' }}</strong></span
    >

    <span
      nz-typography
      style="
        font-size: 18px;
        width: 40%;
        display: inline-block;
        text-align: center;
        border-right: 1px solid steelblue;
      "
      >{{
        (todo.description ? '' + todo.description : '暂无描述')
          | nzEllipsis: 16:'...'
      }}</span
    >

    <div
      class="operation"
      style="
        width: 30%;
        display: inline-block;
        text-align: center;
        line-height: 36px;
      "
    >
      <button
        nz-button
        nzSize="small"
        style="border-radius: 5px; font-size: 14px; margin-right: 15px"
        (click)="fakeCheckDetail(todo.id)"
      >
        <i nz-icon nzType="edit" [nzTheme]="'twotone'"></i>编辑
      </button>
      <button
        nz-button
        nzSize="small"
        style="border-radius: 5px; font-size: 14px; color: #e60000"
        nz-popconfirm
        nzPopconfirmTitle="确认删除吗?"
        nzPopconfirmPlacement="top"
        (nzOnConfirm)="confirmDelete(todo.id, todo.title)"
        (nzOnCancel)="cancelDelete()"
      >
        <i nz-icon nzType="close"></i>
        移除
      </button>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="isModalVisible"
    [nzTitle]="modalTitle"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="null"
  >
    <ng-template #modalTitle>
      <span>{{
        createMode
          ? '创建'
          : '更新TODO: ' + selectedTodo.id + '-' + selectedTodo.title
      }}</span>
    </ng-template>

    <div *nzModalContent>
      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="title" [nzRequired]="createMode">
            <span nz-typography style="font-size: 16px">
              <strong>title</strong>
            </span>
          </nz-form-label>
          <nz-form-control
            [nzSpan]="14"
            nzErrorTip="Title必填, 并且长度需在2-20个字符间"
          >
            <nz-input-group
              [nzSuffix]="suffixTemplateInfo"
              [nzPrefix]="prefixTemplateUser"
            >
              <input
                nz-input
                formControlName="title"
                name="title"
                autocomplete="off"
                placeholder="TODO TITLE"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <ng-template #prefixTemplateUser
          ><i nz-icon nzType="user"></i
        ></ng-template>
        <ng-template #suffixTemplateInfo
          ><i
            nz-icon
            nz-tooltip
            nzTooltipTitle="Extra information"
            nzTooltipTrigger="hover"
            nzType="info-circle"
          ></i
        ></ng-template>

        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzFor="description">
            <span nz-typography style="font-size: 16px">
              <strong>description</strong>
            </span></nz-form-label
          >
          <nz-form-control
            [nzSpan]="14"
            nzErrorTip="描述字符长度需要在2-30个字符间"
          >
            <nz-input-group
              [nzSuffix]="suffixTemplateInfo"
              [nzPrefix]="prefixTemplateUser"
            >
              <input
                nz-input
                formControlName="description"
                name="description"
                autocomplete="off"
                placeholder="TODO DESCRIPTION"
              />
            </nz-input-group>
            <ng-template #prefixTemplateUser
              ><i nz-icon nzType="user"></i
            ></ng-template>
            <ng-template #suffixTemplateInfo
              ><i
                nz-icon
                nz-tooltip
                nzTooltipTitle="Extra information"
                nzType="info-circle"
              ></i
            ></ng-template>
            <br />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              [disabled]="!validateForm.valid"
              style="width: 20%; margin: 0 40%; border-radius: 5px"
            >
              {{ createMode ? '创建' : '更新' }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </nz-modal>
</div>
